name: Build and package

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      
      - run: |
          npm ci
          npm run package
      
      - uses: VaultVulp/gp-docker-action@1.2.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          image-name: amd64
          extract-git-tag: ${{ startsWith(github.ref, 'refs/tags/') }}
          custom-args: --build-arg file=ebon-bot-x64 --platform linux/amd64 --no-cache
      
      - uses: VaultVulp/gp-docker-action@1.2.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          image-name: arm64
          extract-git-tag: ${{ startsWith(github.ref, 'refs/tags/') }}
          custom-args: --build-arg file=ebon-bot-arm64 --platform linux/arm64 --no-cache